<div class="col-sm-3 col-sm-offset-2">
    {{ form_widget(form.headerKey, {'label': false, 'attr': {'placeholder': "Key", 'style': "margin-left: 10px"} }) }}
</div>
<div class="col-sm-3">
    {{ form_widget(form.headerValue, {'label': false, 'attr': {'placeholder': "Value", 'style': "margin-left: 10px"} }) }}
</div>